html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(192, 188, 184);
}

section {
  margin: 0 auto;
  max-width: 1728px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 244px;
  padding-right: 244px;
}
@media (min-width: 370px) and (max-width: 1718px) {
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

nav {
  background-color: #fff;
  max-width: 1728px;
  max-height: 154px;
  margin: 0 auto;
  padding: 0 244px;
}
nav .collapse {
  justify-content: flex-end;
}

.login {
  margin: 20px;
  min-height: 56px;
  min-width: 110px;
}
.login:hover {
  background-color: #FF6F40;
}

header button {
  margin: 0 auto;
  width: 215px;
  height: 56px;
}
header span {
  color: #FF6F40;
}
header > div {
  margin: 0 auto;
  max-width: 1728px;
  background-color: #fff;
}
header > div .btn {
  background-color: #5A9A5B;
}
header > div .btn:hover {
  background-color: #FF6F40;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.foto figure {
  margin: 0 auto;
}
.foto figure img {
  max-width: 300px;
  max-height: 500px;
}

.content2 {
  max-width: 604px;
  max-height: 452px;
  margin-bottom: 50px;
  padding-right: 20px;
}
.content2 h1 {
  margin-bottom: 60px;
}
.content2 h1 span {
  color: #FF6F40;
}
.content2 p {
  margin-bottom: 30px;
}
.content2 div {
  display: flex;
}
.content2 div div {
  margin-right: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 100px;
}
.content .content3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  min-width: 604px;
  min-height: 452px;
  background-image: url(/img/unsplash_sQopSb2K0CU.png);
  background-repeat: no-repeat;
}
.content4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.content4 h1 {
  text-align: center;
  margin-bottom: 60px;
}
.content4 h1 span {
  color: #FF6F40;
}
.content4 div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content4 div div {
  min-height: 156px;
  min-width: 604px;
  flex-direction: column;
}

.content5 article h1 {
  margin-bottom: 60px;
}
.content5 article h1 span {
  color: #FF6F40;
}
.content5 article p {
  margin-bottom: 60px;
}
.content5 article div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.content5 article div figure {
  margin: 0 auto;
  max-height: 411px;
  max-width: 385px;
  margin-bottom: 30px;
}
.content5 article div figure img {
  margin-bottom: 30px;
}
.content5 article div figure h3 {
  margin-bottom: 30px;
}

.content6 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 60px;
}
.content6 > div h1 {
  min-height: 192px;
  max-width: 604px;
}
.content6 > div h1 span {
  color: #FF6F40;
}
.content6 > div div {
  justify-content: flex-start;
  min-height: 192px;
  max-width: 604px;
}
.content6 button {
  width: 215px;
  height: 56px;
  background-color: #5A9A5B;
}
.content6 button:hover {
  background-color: #FF6F40;
}
.content6 figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.content6 figure .img1 {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/card\ \(1\).png);
  background-repeat: no-repeat;
  min-height: 590px;
  max-width: 370px;
  color: #fff;
  border-radius: 30px;
}
.content6 figure .img2 {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/card\ \(2\).png);
  background-repeat: no-repeat;
  flex-direction: column;
  min-height: 590px;
  max-width: 370px;
  color: #fff;
  border-radius: 30px;
}
.content6 figure .img3 {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/card\ \(3\).png);
  background-repeat: no-repeat;
  flex-direction: column;
  min-height: 590px;
  max-width: 370px;
  color: #fff;
  border-radius: 30px;
}

.content7 > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.content7 > div h1 {
  min-height: 96px;
  max-width: 391px;
}
.content7 > div > p {
  min-height: 96px;
  max-width: 742px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}
.menu figure {
  height: 384px;
  width: 286px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.menu figure div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.menu figure div button:hover {
  background-color: #FF6F40;
}

.content8 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.content8 > div div {
  width: 500px;
  height: 500px;
}
.content8 > div div h1 {
  margin-bottom: 40px;
}
.content8 > div .text {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 600px;
  height: 350px;
}
.content8 > div .text img {
  height: 74px;
  width: 74px;
}
.content8 > div .text div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content8 > div .text div h3 {
  margin-bottom: 30px;
}

.address > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.address > div h1 {
  min-height: 96px;
  width: 530px;
}
.address > div > p {
  min-height: 96px;
  width: 530px;
}
.address .maps {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  width: 660px;
  height: 530px;
}
.address .maps .text {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}
.address .maps .text div {
  width: 300px;
  height: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px;
  width: 508px;
}
form input {
  outline: 0;
  color: #333333;
  font-size: 24px;
  padding: 25px 10px;
  width: 508px;
  height: 48px;
  border-radius: 0px;
  border: 1px solid #d6d6d6;
  background-color: whitesmoke;
}
form input:active, form input:focus {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #969696;
}
form .btn {
  width: 530px;
  height: 48px;
  border-radius: 10px;
  background-color: #5A9A5B;
  color: #fff;
}
form .btn:hover {
  background-color: #FF6F40;
}

footer {
  padding-left: 244px;
  padding-right: 244px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  background-color: #000000;
  margin: 0 auto;
  max-width: 1728px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 400px) and (max-width: 1718px) {
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
footer .footer {
  height: 307px;
  width: 398px;
}
footer div, footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */